<div class="main-container">

    <div class="header">
      <div class="name-box">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <h4>Countries</h4>
      </div>
      <div class="search-box">
        <input type="text" class="form-control" placeholder="Type to Filter by Country" [(ngModel)]="filterValue" (keyup.enter)="onEnterKey($event)">
        <button id="reset-button" (click)="onReset()">Reset</button>
      </div>
    </div>
  
    <div class="section">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle bg-white text-dark" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ selectedStatusLabel }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" (click)="filterByStatus($event, 'all')">All Status</a>
          <a class="dropdown-item" href="#" (click)="filterByStatus($event, '1')">Active</a>
          <a class="dropdown-item" href="#" (click)="filterByStatus($event, '0')">Inactive</a>
        </div>
      </div>
  
      <div class="create-button">
        <button class="btn btn-primary" type="submit">
          <a routerLink="/country/create" (click)="navigateToCreateCountry()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Create Country
          </a>
        </button>
      </div>
    </div>
  
    <div class="main-content">
      <div class="table-container">
        <table class="table table-striped">
          <caption class="sr-only">List of countries with their details including name, status, currency, codes, and ISD code</caption>
          <thead>
            <tr>
              <th>Country</th>
              <th>Status</th>
              <th>Currency</th>
              <th>Code</th>
              <th>ISO Code</th>
              <th>Short Code</th>
              <th>ISD Code</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of filteredCountries; let i = index">
              <td>{{ country.countryName }}</td>
              <td>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" [id]="'status' + i"
                         [checked]="country.active === '1'" (change)="updateCountryStatus(country)">
                  <label class="custom-control-label" [for]="'status' + i"></label>
                </div>
              </td>
              <td>{{ country.currency?.code}}</td>
              <td>{{ country.code }}</td>
              <td>{{ country.isoCode }}</td>
              <td>{{ country.shortCode }}</td>
              <td>{{ country.isdCode }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
  