<div class="main-container">

    <div class="header">
      <div class="name-box">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <h4>Terminal Type</h4>
      </div>
      <div class="search-box">
        <input type="text" class="form-control" placeholder="Type to Search by Name" [(ngModel)]="filterValue"
          (keyup.enter)="onEnterKey($event)">
        <button id="reset-button" (click)="onReset()">Reset</button>
      </div>
    </div>
  
    <div class="section">
      <div class="create-button">
        <button class="btn btn-primary" (click)="navigateToCreateTerminalType()">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Create Terminal Type
        </button>
      </div>
    </div>
  
    <div class="main-content">
      <div class="table-container">
        <table class="table table-striped">
          <caption class="sr-only">List of terminal types with their details including name and status</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
  
            <!-- Show rows only if filteredTerminalTypes has data -->
            <ng-container *ngIf="filteredTerminalTypes.length > 0">
              <tr *ngFor="let terminalType of filteredTerminalTypes; let i = index">
                <td>{{ terminalType.type }}</td>
  
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" [id]="'activeStatus' + i"
                      [checked]="terminalType.status === 1" (change)="updateActiveStatus($event, terminalType)">
                    <label class="custom-control-label" [for]="'activeStatus' + i"></label>
                  </div>
                </td>
  
                <td id="actions">
                  <a id="edit" (click)="navigateToEditTerminalType(terminalType.id!)">Edit</a>
                  <a id="delete" (click)="deleteTerminalType(terminalType.id!, terminalType.type)">Delete</a>
                  <a id="view-details" (click)="navigateToViewTerminalType(terminalType.id!)">View Details</a>
                </td>
              </tr>
            </ng-container>
  
            <!-- Show message if no data -->
            <tr *ngIf="filteredTerminalTypes.length === 0">
              <td colspan="3" class="text-center">No data to display</td>
            </tr>
  
          </tbody>
        </table>
      </div>
  
      <div class="table-footer">
        <span>{{ filteredTerminalTypes.length }} total</span>
      </div>
    </div>
  
  </div>
  